@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On our website, you can view detailed sales statistics, including a beautiful graphical representation. You can analyze the market and use this information absolutely free.</p>
</div>
