<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBConnectionString" value="Server=(localdb)\mssqllocaldb;Database=ProductsSalesDb;Trusted_Connection=True;"/>
		<add key="DataFilesPath" value="D:\Data"/>
		<add key="LogFilePath" value="D:\Log"/>
	</appSettings>
</configuration>